<body>
 <main>
  
  <!--sign-inとeditフラッシュメッセージ-->
    <%= flash[:notice] %>
    
    <!--User info 部分-->
    <p></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
        <h2>User info</h2>
        
          <!-- ユーザーの詳細 -->
          <table class="table">
            <div><%= image_tag @user.get_profile_image(100,100) %></div>
            
            <thead>
              <tr>
                <td><B>name</B></td>
                <td><B><%= @user.name %></B></td>
              </tr>
            </thead>
            
             <tbody>
               <tr>
                 <td><B>introduction</B></td>
                 <td><B><%= @user.introduction %></B></td>
               </tr>
             </tbody>
          </table>
          
             <!--ユーザー編集ボタン-->
            
             <%= link_to edit_user_path(@user), class: 'btn btn-default btn-outline-secondary btn-block' do %>
             <i class="fa-solid fa-user-gear"></i>
             <% end %><br>
             
             <!--投稿フォーム-->
             
             <h2>New book</h2>
             <%= form_with model: @book do |f| %>
             <h6>Title</h6>
             <%= f.text_field :title %>
             <p></p>
             <h6>Opinion</h6>
             <%= f.text_area :body %>
             <p></p>
             <%= f.submit "Create Book" ,class: 'btn btn-success btn-auto' %>
             <% end %>
        </div>
        
        <!--ユーザー投稿一覧部分-->
        
        <div class="col-md-8 offset-md-1">
          <h2>Books</h2>
          <table class ="table">
            <thead>
              <tr>
                <td></td>
                <th>Title</th>
                <th>Opinion</th>
              </tr>
            </thead>
            <tbody>
                 
                <!--投稿一覧表示部分-->
                <% @books.each do |book| %>
                <!--each doは送られてきたデータを繰り返しアウトプットさせる役割があり、一覧系によく使われる-->
                <tr onmouseover="style.background='#CCCCCC'" onmouseout="style.background='#FFFFFF'">
                <!--tr〜trまで投稿情報を記載し、このtr部分がeach doによって繰り返し処理されるよという意味-->
                <td><%= link_to user_path(current_user.id) do %>
                <%= image_tag @user.get_profile_image(100,100) %>
                <% end %></td>
                
                <td><%= link_to (book.title),book_path(book.id) %></td>
                <td><%= book.body %></td>
                </tr>
                <%end%>
                
            </tbody>
          </table>
         </div>
          
      </div>
    </div>
  </main>
 </body>