<body>
  <main>
    <!--create フラッシュメッセージ-->
     <%= flash[:notice] %>
            
    <!--User info 部分-->
    <p></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
        <h2>User info</h2>
        
          <!-- ユーザーの詳細 -->
          <table class="table">
            <div><%= image_tag @user.get_profile_image(100,100) %></div>
            
            <thead>
              <tr>
                <td><B>name</B></td>
                <td><B><%= @user.name %></B></td>
              </tr>
            </thead>
            
             <tbody>
               <tr>
                 <td><B>introduction</B></td>
                 <td><B><%= @user.introduction %></B></td>
               </tr>
             </tbody>
          </table>
          
             <!--ユーザー編集ボタン-->
            
             <%= link_to edit_user_path(@user), class: 'btn btn-default btn-outline-secondary btn-block' do %>
             <i class="fas fa-user-cog"></i>
             <% end %><br>
             
             <!--投稿フォーム-->
             
             <h2>New book</h2>
             <%= form_with model: @book do |f| %>
             <h6>Title</h6>
             <%= f.text_field :title %>
             <p></p>
             <h6>Opinion</h6>
             <%= f.text_area :body %>
             <p></p>
             <%= f.submit "Create Book" ,class: 'btn btn-success btn-auto' %>
             <% end %>
        </div>
        
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class ="table">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--Book詳細部分-->
                
                <td>
                  <%= link_to book_path do %>
                  <%= image_tag @user.get_profile_image(100,100) %><br>
                  <% end %>
                  <%= link_to @user.name,user_path(@user) %>
                </td>
                <td><%= link_to @book_id.title,book_path %></td>
                <td><%= @book_id.body %></td>
                <% if @book_id.user == current_user %><!--ログインしているユーザでしか、editとdestroyボタンは出現しませんという権限コード-->
                <td><%= link_to "Edit", edit_book_path, class: 'btn btn-success btn-auto'%></td>
                <td><%= link_to "Destroy",book_path(@book_id),method: :delete,"data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-auto'%></td>
                <% end %>
              </tr>
                
            </tbody>
          </table>
         </div>
    
  </main>
 </body>